.logo{
    font-weight: bold;
    color: rgba(222, 101, 8, 0.819);
    font-size: 30px;
}
.buttons{
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
}
.login{
    border: 1px solid white ;
    background-color: white;
    width: 80px;
    border-radius: 10px;
    box-shadow: 1 2px 4px rgba(242, 120, 6, 0.1);
}
.getstarted{
    background-color: rgba(213, 115, 2, 0.899);
    border-radius: 10px;
    width: 120px
}
.navmid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.navlnks{

}